.uppercase {
  text-transform: uppercase;
}

.pointer-hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pointer-hover:hover {
  transform: scale(1.05);
}

.modal {
  z-index: 2000 !important;
}

.modal-backdrop {
  z-index: 1999 !important;
}

.card-body .card-title {
  color: var(--mui-palette-text-primary) !important;
}

